/*
 * Licensed to the Apache Software Foundation (ASF) under one or more
 * contributor license agreements.  See the NOTICE file distributed with
 * this work for additional information regarding copyright ownership.
 * The ASF licenses this file to You under the Apache License, Version 2.0
 * (the "License"); you may not use this file except in compliance with
 * the License.  You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
@namespace mx "library://ns.adobe.com/flex/mx";

@font-face
{
    src: url("assets/fonts/MyriadWebPro.ttf");
    font-family: main;
    font-style: normal;
    font-weight: normal;
}

@font-face
{
    src: url("assets/fonts/MyriadWebPro-Bold.ttf");
    font-family: main;
    font-style: normal;
    font-weight: bold;
}

mx|Application {
    font-family: main; 
    font-size: 12;
}

.appContainer {
	borderSkin: Embed(source="assets/app_skin.png",
		scaleGridTop="55",
		scaleGridLeft="5",
		scaleGridRight="293",
		scaleGridBottom="66");
}

mx|TabNavigator {
	border-style:solid;	
}

mx|Button {
	skin: Embed("assets/button_skin.png",
			scaleGridLeft="8",
			scaleGridRight="23",
			scaleGridTop="8",
			scaleGridBottom="21");
	over-skin: Embed("assets/button_over_skin.png",
			scaleGridLeft="8",
			scaleGridRight="23",
			scaleGridTop="8",
			scaleGridBottom="21");
	open-duration: 0;
	close-duration: 0;
	corner-radius: 2;
}


.appTitle
{
	color:#222222;	
    font-family: main; 
    font-size: 20pt;
}